# Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.fbx
*.obj

# Studio
LocalStorage/
logs/
placeIDEState/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Misc
node_modules/
dist/
*.log
